.skills-section{
  display: flex;  
  justify-content: center;
  margin-top: 50px;
  font-size:x-large;
  color:#634db3;
}
.skills-container{
  padding: 20px 300px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
  
  
} 
.skill-section{
    display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
    width: 167px;  
  height: 150px;
  border: 2px solid #634db3;
  border-radius: 3px;
  
  
}
/* .tools-container{
    background-color:#8270c2;
} */
.star
{
  position: relative;
  display: inline-block;
  width: 0;
  height: 0;
  
  margin-left: .9em;
  margin-right: .9em;
  margin-bottom: 1.2em;
  border-right:  .3em solid transparent;
  border-bottom: .7em  solid #D1CAEB;
  border-left:   .3em solid transparent;
  /* Controlls the size of the stars. */
  font-size: 6px;
}
.star:before, .star:after {
  content: '';
    
  display: block;
  width: 0;
  height: 0;
  
  position: absolute;
  top: .6em;
  left: -1em;

  border-right:  1em solid transparent;
  border-bottom: .7em  solid #D1CAEB;
  border-left:   1em solid transparent;

  transform: rotate(-35deg);
}
.star:after {
 transform: rotate(35deg);}
 
.star:nth-child(1){
  top:20vw;
}
.star:nth-child(2){
  top:40vw;
}
.star:nth-child(3){
  top:10vw;
}
.star:nth-child(4){
  top:50vw;
}
.star:nth-child(5){
  top:25vw;
}
.star:nth-child(6){
  top:45vw;
}
.star:nth-child(7){
  top:45vw;
}
.star:nth-child(8){
  top:3vw;
}
.star:nth-child(9){
  top:10vw;
}
.star:nth-child(10){
  top:30vw;
}
.star:nth-child(11){
  top:25vw;
}
.star:nth-child(12){
  top:35vw;
}


.star:nth-child(13){
  top:4vw;
}
.star:nth-child(14){
  top:30vw;
}
.star:nth-child(15){
  top:3vw;
}
.star:nth-child(16){
  top:45vw;
}
.star:nth-child(17){
  top:45vw;
}
.star:nth-child(18){
  top:48vw;
}
.star:nth-child(19){
  top:21vw;
}
.star:nth-child(9){
  top:32vw;
}
.star:nth-child(20){
  top:43vw;
}
.star:nth-child(21){
  top:34vw;
}
.star:nth-child(22){
  top:15vw;
}





