.navBarContainer{
    display: flex;
    justify-content: space-between;
    padding: 20px 300px;
    align-items: center;
    align-items: center;

}
.navBarContainer .logo a{
    font-size: 1.5rem;
    font-weight: 800;
    cursor: pointer;
    text-decoration: none;
    color:#000000;

}
.navBarContainer .logo a span{
    color: #634db3;
}
.navBarContainer .elements{
    display: flex;
    gap: 100px;
}
.navBarContainer .elements a{
    font-size: 1.2rem;
    font-weight: 500;
    cursor: pointer;
    text-decoration: none;
    color:#000000;
 
}
.hire-button{
    background-color:#634db3;
    padding: 7px;
    border-radius: 3px;
}